<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="google-site-verification" content="CNEFwj9gUh4_AlJaSwHt2UFXqKdmAq7wVV_-hVNP9k8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/asset/site.css"/>
    <title>Izhari Ishak Aksa</title>
</head>
<body>
<main class="container mt-3 mb-5">
    <header class="d-flex align-items-start">
        <img src="/image/izhari-ishak-aksa.jpeg" class="mr-2" style="width: 80px"
             alt="Izhari Ishak Aksa"/>
        <div class="col">
            <h1><a class="text-dark" href="/" rel="nofollow">Izhari Ishak Aksa</a></h1>
            <p>
                Experienced Software Engineer with a demonstrated history of working in the education management
                industry. Skilled in Go, Java, PHP, and SQL. Strong engineering professional with a Bachelor of Science
                (B.Sc.) focused in Computer Science from University of Sumatera Utara (USU).
            </p>
        </div>
    </header>
    <section>
        <h2>On the internet</h2>
        <ul>
            <li><a target="_blank" rel="nofollow" href="https://github.com/izharishaksa">GitHub</a></li>
            <li><a target="_blank" rel="nofollow" href="https://open.kattis.com/users/izharishaksa">Kattis</a>
            </li>
            <li><a target="_blank" rel="nofollow" href="https://uhunt.onlinejudge.org/id/575">uHunt</a></li>
            <li><a target="_blank" rel="nofollow" href="https://leetcode.com/izharishaksa/">LeetCode</a>
            <li><a target="_blank" rel="nofollow" href="https://www.topcoder.com/members/izhari">TopCoder</a>
            </li>
            <li><a target="_blank" rel="nofollow" href="https://codeforces.com/profile/izhari">Codeforces</a>
            </li>
            <li><a target="_blank" rel="nofollow" href="https://linkedin.com/in/izharishaksa">LinkedIn</a></li>
            <li><a target="_blank" rel="nofollow"
                   href="https://stackoverflow.com/users/3571824/izhari-ishak-aksa">StackOverflow</a></li>
        </ul>
    </section>
    <section>
        <h2>Projects</h2>
        <ul>
            <li>
                <a target="_blank" href="https://www.sistastore.com">SistaStore</a>
                <p>An AliExpress affiliate website. Tech stacks: PHP, MySQL, Twitter Bootstrap, Javascript.</p>
            </li>
            <li><a target="_blank" rel="nofollow noreferer noopener" href="https://www.socfindo.co.id/">Socfindo
                Company Website</a></li>
            <li><a target="_blank" rel="nofollow noreferer noopener"
                   href="https://www.socfindoconservation.co.id/">Socfindo Conservation Website</a></li>
            <li><a target="_blank" rel="nofollow noreferer noopener"
                   href="https://github.com/izharishaksa/ecommerce-system-example">Ecommerce System Example on Github</a></li>            
            <li><a target="_blank" rel="nofollow noreferer noopener"
                   href="https://github.com/izharishaksa/kattis-solutions-golang">Solving Kattis Problems</a></li>            
        </ul>
    </section>
    <section>
        <h2>Experience</h2>
        <ul>
            <li>
                Project Copilot at <a target="_blank" rel="nofollow noreferer noopener"
                                      href="https://www.topcoder.com/members/izhari">TopCoder</a>
            </li>
            <li>
                Programmer at <a href="https://www.usu.ac.id/" rel="nofollow noreferer noopener"
                                 target="_blank">University of Sumatera Utara</a>
                <p>Projects:</p>
                <ul>
                    <li>
                        <a target="_blank" href="//rka.usu.ac.id">SIMRKA</a>
                        <ul>
                            <li>Budgeting, expenditure and payroll management system.</li>
                            <li>Tech stacks: PHP, MySql.</li>
                            <li>Implement Clean Architecture and Domain Driven Design.</li>
                        </ul>
                    </li>
                    <li>
                        <a target="_blank" href="//simsdm.usu.ac.id">SIMSDM</a>
                        <ul>
                            <li>HR management system.</li>
                            <li>Tech stacks: PHP, MySql.</li>
                        </ul>
                    </li>
                    <li>
                        <a target="_blank" href="//logbook-ppds.usu.ac.id/">PPDS Logbook</a>
                        <p>Logbook management system for medical student.</p>
                    </li>
                    <li>
                        <a target="_blank" href="//kepk.usu.ac.id/">KEPK</a>
                        <p>Research ethical clearance management system.</p>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</main>
</body>
</html>
