<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="google-site-verification" content="CNEFwj9gUh4_AlJaSwHt2UFXqKdmAq7wVV_-hVNP9k8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/asset/site.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Izhari Ishak Aksa</title>
</head>
<body>
<main class="container mt-3 mb-5">
    <header class="d-flex align-items-start">
        <img src="/image/izhari-ishak-aksa.jpeg" class="mr-2 rounded-circle img-thumbnail" style="width: 80px"
             alt="Izhari Ishak Aksa"/>
        <div class="col">
            <h1 class="font-weight-bold">Izhari Ishak Aksa</h1>
            <p>
                Software Engineer with six years experience working in the education management industry. Skilled in
                Data Structure, Algorithm, Golang, Java, PHP, SQL, NoSQL, Event Driven Architecture.
            </p>
        </div>
    </header>
    <section class="d-flex justify-content-center">
    </section>
    <section class="row">
        <div class="col-9">
            <h2>Portfolio</h2>
            <ul>
                <li>
                    <a target="_blank" href="https://github.com/izharishaksa/ecommerce-system-example">Ecommerce System
                        Example on Github</a>
                    <p>Event Driven Microservices Architecture and use Domain Driven Design approach. Tech stacks: Go,
                        Kafka, Docker.</p>
                </li>
                <li><a target="_blank" href="https://www.sistastore.com">SistaStore</a></li>
                <li><a target="_blank" href="https://www.socfindo.co.id/">Socfindo Company Website</a></li>
                <li><a target="_blank" href="https://www.socfindoconservation.co.id/">Socfindo Conservation Website</a>
                </li>
                <li><a target="_blank" href="https://github.com/izharishaksa/leetcode-solutions-golang">Solving LeetCode
                    Problems using Go</a></li>
                <li>
                    <a target="_blank" href="//rka.usu.ac.id">SIMRKA</a>
                    <p>Budgeting, expenditure and payroll management system. Tech stacks: PHP, MySql.</p>
                </li>
                <li>
                    <a target="_blank" href="//simsdm.usu.ac.id">SIMSDM</a>
                    <p>HR management system. Tech stacks: PHP, MySql.</p>
                </li>
                <li>
                    <a target="_blank" href="//logbook-ppds.usu.ac.id/">PPDS Logbook</a>
                    <p>Logbook management system for medical student.</p>
                </li>
                <li>
                    <a target="_blank" href="//kepk.usu.ac.id/">KEPK</a>
                    <p>Research ethical clearance management system.</p>
                </li>
            </ul>
        </div>
        <div class="col">
            <a class="d-block mb-1" target="_blank" href="https://linkedin.com/in/izharishaksa"><i
                    class="fa-brands fa-linkedin"></i> linkedin.com/in/izharishaksa</a>
            <a class="d-block mb-1" target="_blank" href="https://github.com/izharishaksa"><i
                    class="fa-brands fa-square-github"></i> github.com/izharishaksa</a>
            <a class="d-block mb-1" target="_blank" href="https://www.hackerrank.com/izharishaksa"><i
                    class="fa-brands fa-hackerrank"></i> hackerrank.com/izharishaksa</a>
            <a class="d-block mb-1" target="_blank" href="https://leetcode.com/izharishaksa/"><i
                    class="fa-regular fa-laptop-code"></i> leetcode.com/izharishaksa</a>
        </div>
    </section>
    <section>
        <h2>Experiences</h2>
        <ul>
            <li>
                Software Engineer at GoTo Financial, November 2022-Present
            </li>            
            <li>
                Head Programmer at <a href="https://www.usu.ac.id/" target="_blank">University of Sumatera Utara</a>
            </li>            
            <li>
                Project Copilot at <a target="_blank" href="https://www.topcoder.com/members/izhari">TopCoder</a>
            </li>
        </ul>
    </section>
</main>
</body>
</html>
